@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-light bg-dark rounded hero-image mt-2">
    <div class="container">
        <div class="row m-4">
            <h1 class="hero-text fw-bolder tracking-in-expand"><i class="fa fa-dog wobble-hor-bottom"></i>Dog Paw University</h1>
        </div>
        <div class="row m-4 justify-content-between">
            <p class="lead text-wrap text-appear-in" style="width: 20rem; padding-left: 1em;">Dog Paw University brings opportunity for dogs to success in fulfilling careers. No cats allowed!</p>
        </div>

    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-4 align-content-center text-center mt-1">
        <div class=" rounded-3 h-100 w-100 text-light bg-dark p-2">
            <div class="p-4"><i class="fas fa-bone fs-1 "></i></div>
            <h5>FIND A MAJOR</h5>
            <p>
                Search for undergraduate majors offered at DPU.
            </p>
        </div>
    </div>

    <div class="col-sm-4 align-content-center text-center mt-1">
        <div class="rounded-3 h-100 w-100 text-light bg-dark p-2">
            <div class="p-4"><i class="fab fa-bitcoin fs-1"></i></div>
            <h5>Tuition Cost</h5>
            <p>
                DPU accept major currency including Dogecoin and Shiba.
            </p>
        </div>
    </div>

    <div class="col-sm-4 align-content-center text-center mt-1">
        <div class="rounded-3 h-100 w-100 text-light bg-dark p-2">
            <div class="p-4"><i class="fas fa-map-marked-alt fs-1"></i></div>
            <h5>Visit DPU</h5>
            <p>
                Come and visit our campus today.
            </p>
        </div>
    </div>
</div>


<div class="d-flex mt-5  rounded">

    <div class="bob-image w-100 rounded-3"></div>
    <div class="align-self-center p-3">
        <h4 class="text-center">Bob, Game Designer @@ Naughty Dog Studio</h4>
        <hr style="border: 2px solid;"/>
        <h4 class="text-center">"I credit Dog Paw University for my success in becoming a professional game designer at Naughty Dog Studio.”</h4>
    </div>

</div>
<div class="d-flex mt-5 rounded">
    <div class="align-self-center p-3">
        <h4 class="text-center">Sue, Lead Software Engineer @@ Apple</h4>
        <hr style="border: 2px solid;"/>
        <h4 class="text-center">"Dog Paw gave me the experiences I need to succeed. Currently, I lead a team in developing the latest apps for dogs."</h4>
    </div>
    <div class="sue-image w-100 rounded"></div>


</div>



<div class="w-100 border mt-5 text-center bg-dark bg-opacity-50 p-2 text-light rounded-pill"> <h5><i class="fas fa-arrow-alt-circle-down"></i> Showcasing and recognizing alumni leaders from DPU. <i class="fas fa-arrow-alt-circle-down"></i></h5></div>

<div class="container">
    
    <div class="row">
        <div class="d-flex ">
            <div class="d-flex flex-column flex-fill p-3">
                <div class="box round01-image"></div>
                <div class="mt-2 text-center"><kbd style="font-weight:bold;"><i class="fab fa-instagram"></i> Doggy3</kbd> </div>
            </div>

            <div class="d-flex flex-column flex-fill p-4">
                <div class="box round02-image"></div>
                <div class="mt-2 text-center"><kbd style="font-weight:bold;"><i class="fab fa-instagram"></i> PupAce727 </kbd></div>
            </div>

            <div class="d-flex flex-column flex-fill p-3">
                <div class="box round03-image"></div>
                <div class="mt-2 text-center"><kbd style="font-weight:bold;"><i class="fab fa-instagram"></i> PugLife</kbd> </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="rounded bg-info enroll-image text-light">
                <!--Content goes Here-->
                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3>Browse in-demand Career programs.</h3>
                    <h3 class="btn btn-outline-light">Strengthen your professional journey here</h3>
                </div>
                <!--End Content-->

            </div>
        </div>

    </div>
</div>
